@inherits LayoutComponentBase

@Body

<div id="blazor-error-ui" data-nosnippet>
    Произошла ошибка интерфейса.
    <a href="." class="reload">Перезагрузить</a>
    <span class="dismiss">x</span>
</div>
